<!-- /etc/de.conf will have loggly key and loglevel set to warn. de.conf overwrites de.properties -->
<!-- de.properties is only for dev purposes -->

<configuration debug="true" scan="true" scanPeriod="120 seconds">
    <property resource="de.properties"/>
    <property file="/etc/de.conf"/>
    <jmxConfigurator/>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>USER</facility>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <!-- prettyPrint is probably ok in dev, but usually not ideal in production: -->
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
                <context>DE</context>
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSS'000Z'</timestampFormat>
                <timestampFormatTimezoneId>UTC</timestampFormatTimezoneId>
                <appendLineSeparator>true</appendLineSeparator>
            </layout>
        </encoder>
        <suffixPattern>[%thread] %logger %msg</suffixPattern>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <root level="${loglevel}">
        <if condition='property("logback.syslog.enabled").equalsIgnoreCase("true")'>
            <then>
                <appender-ref ref="SYSLOG"/>
            </then>
        </if>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>