<!-- /etc/de.conf will have loggly key and loglevel set to warn. de.conf overwrites de.properties -->
<!-- de.properties is only for dev purposes -->

<configuration debug="true" scan="true" scanPeriod="120 seconds">
    <property resource="application.properties"/>
    <property file="/etc/de.conf"/>
    <jmxConfigurator/>

    <appender name="SYSLOG" class="net.logstash.logback.appender.LogstashSocketAppender">
        <host>127.0.0.1</host>
        <port>514</port>
        <prefix class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${appname}:\
            </pattern>
        </prefix>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${loglevel}">
        <appender-ref ref="SYSLOG"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>